body {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
  }

.pokemon-card{
    background-color: #9000f7;
    color: white;
    font-weight: bold;
    border-radius: 15px;

}

.pokemon-list li{
    list-style-type: none;
    padding: 5px;
}